.nav {
    display: flex;
}

.nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 25%;
    height: 50px;
    color: white;
    background: rgba(147,91,80,255);
    font-size: 25px;
    font-family: "Kelson", Arial, serif;
    font-weight: normal;
    font-style:normal;
    letter-spacing: 1px;
}

.nav a:hover {
    background: rgba(155,230,157,255);
}